.lightbox{
    position :fixed;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    z-index: 9;
    animation: lightboxIn 500ms;
}

.lightbox__next,
.lightbox__prev{
    border:none;
    background: url('../assets/images/arrow.svg') center center / 100% 100%;
    width: 16px;
    height: 28px;
    position: fixed;
    top:50%;
    left: 2%;
    margin-top: -14px;
    z-index: 10;
    text-indent:-3000px;
    cursor: pointer;
    opacity: 0.75;
    

}

.lightbox__next:hover,
.lightbox__prev:hover{
    opacity: 1;
    
}

.lightbox__next{
    left: auto;
    right: 2%;
    transform: rotate(180deg);
}


.lightbox__close{
    width: 20px;
    height: 20px;
    background:url('../assets/images/cross.svg') center center / 100% 100%;
    position: fixed;
    top:50px;
    right: 50px;
    text-indent: -3000px;
    border: 0;
    z-index: 12;
    opacity: 0.75;
    cursor: pointer;
}

.lightbox__close:hover{
    opacity:1;
}

.lightbox__container video,
.lightbox__container img{
    max-width: 100%;
    height: 95vh;
    margin-top: 2vh;
    animation: lightboxIn 800ms;
    
}
.lightbox__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    margin-right: auto;
    width:80vw;
}

@keyframes lightboxIn {
    from{opacity: 0};
    to{opacity:1}
}