@import url("photographer.css");
@import url("lightbox.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photograph-header article,
.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.photographer_section article div {
    color: #901C1C;
    font-size: 16px;
}

.photographer_section article p {
    color: #000;
    font-size: 14px;
    margin:3px;
}

.photographer_section article p.tarif {
    color: #525252;
    font-size: 14px;
}
.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 5px;
    font-weight: 400;
}

.photographer_section article a {
    text-decoration: none;
}

.photograph-header article img,
.photographer_section article img {
    width: 100%;
    object-fit: cover;
    height: 100%;
   
}

.photograph-header article span,
.photographer_section article span {
    width: 220px;
    height:220px;
    overflow: hidden;
    background:#fff;
    border-radius: 100%;
    display: block;
    margin:0 auto;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.57); 
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.57);
}

ul.gal{
    display: flex;
    padding: 5vw;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.gal li{
    width: 33.33%;
}